In [3]:
#add a person with name Sumit Kumar,Sumit age is 25 years old
#Sumit is a genius.
first_name = "Sumit"
last_name = "Kumar"
age = 51

Tony_is_genius = 'Ture'
print(name)
print(age)

NameError: name 'name' is not defined

In [6]:
a = "Sumit"
b = "Kumar"
age = 51

is_genius = "Ture"
print(a + b)
print(age)

SumitKumar
51

In [1]:
#take input from user and ? 
input("What is your namr? ")

What is your namr? Pavan Mishra

'Pavan Mishra'

In [3]:
#How to store user input?
name = input("What is your name? ")
print("hello " + name)

What is your name? Pavan Mishra
hello Pavan Mishra

In [5]:
#Tony is secretly a superhero.ask him for his superhero name
#and show it in the terminal
superhero = input("what is your superhero name? ")

what is your superhero name? Iron Man

In [7]:
#type of conversion
first = input("enter first number : ")
second = input("enter second number : ")
sum = int(first) + int(second)
print(sum)

enter first number : 20
enter second number : 30
50

In [10]:
name = "Tony Stark"  
print(name.lower())   #print name upper and lower case
print(name) #for original str

tony stark
Tony Stark

In [14]:
#how to find latter  small or captial
name = "Tony Stark"
print(name.find('S'))

5

In [ ]:
# single ' cot --  single char
# double " cot --- for string or pragrabh

In [6]:
#replace (character , string,)

name = "Pavan Mishra"
print(name.replace("Pavan Mishra", "Anupam Mishra"))

Anupam Mishra

In [9]:
#keyword or dict
name = "Tony Stark"
print('Pavan' in name)

False

In [17]:
#Arithmetic operator ()
print(5 ** 2)        #use double // for remove decimal point

25

In [19]:
#operator Precedence  (just like a bodomos)

result = 2 + 3 * 5
print(result)

17

In [30]:
#comparison Operators (its define true or false)
print(3 != 5)

True

In [32]:
#logical operator 
#three type of logical operatrer in pyhton
#1 [ or operator ] - if atlest one is true than print true.
#                     if two condition is false than print 

#condition 1
print(2 > 3 or 2 > 1)

#condition 2
print(2 > 3 or 2 < 1)

True
False

In [2]:
#logical operator
#2- [ And operator ] if two condition is true than print true 
#                    otherwise print false

#condition 1
print(3 > 2 and 2 > 1)

#condition 1
print(3 > 5 and 2 > 6)

True
False

In [7]:
#logical operator
#3- [ Not operator ] not operator prints correct option false
                    #  and  false option true

#condition 1
print(not 2 < 3)        # here in condition is true but using
                        # not operator its print false

#condition 2
print (not 3 > 6)        # here in condition is false but using
                        # not operator its print true

False
True

In [28]:
#if-else statement generally used for conditional statement.
# for example sun rise than we print day and sun set than we print night.

#condition 1 
age = 19

if age >= 18:
    print("you are an adult")  #here " if " check the statement age 19 greaten than 18.
    print("you can vote")      

print("thankyou")

you are an adult
you can vote
thankyou

In [29]:
# If else statement  
#condition 2
age = 17

if age >= 18:                 # indentation means proper space.
    print("you are an adult")  #here "if" check the statement age 17 less than 18.
    print("you can vote")      

print("thankyou")

thankyou

In [40]:
# Elif condition

age = 17

if age >= 18:                 # indentation means proper space.
    print("you are an adult")  
    print("you can vote")   
elif age < 18 and age > 3:     
    print("you are in school")
else:
    print("you are a child")    #all two condition is false than print else condition. 
    
#here If define starting condition is true or false
# elif condition define starting condition is not true than check 2nd or 3rd condition. 
# else condition check the " if " and " elif " condition than  print else condition.

you are in school

In [51]:
#Let's build tha calculator.

first = input("enter first number : ")
#we praform five operator.
operator = input("enter operator (+,-,*,/,%) : ") 
second = input("enter second number : ")

#lets convert the first and second string to number form.
first = int(first)
second = int(second)


# now we use if, elif, else condition for add, subtract, or multiply etc.

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
#elif condition apply to check 2nd or 1st is true and 
#if condition is use for check all condition. 
elif operator == "*":
    print(first * second)
elif operator == "/":
    print(first / second)
elif operator == "%":
    print(first % second)
else:
    print("invalid operation")

enter first number : 10
enter operator (+,-,*,/,%) : *
enter second number : 10
100

In [48]:
#condition 2
#Let's build tha calculator.
first = input("enter first number : ")
#we praform five operator.
operator = input("enter operator (+,-,*,/,%) : ") 
second = input("enter second number : ")

first = int(first)
second = int(second)



# now we use if, elif, else condition for add, subtract, or multiply etc.

if operator == "+":
    print(first + second)
if operator == "-":
    print(first - second)
#elif condition apply to check 2nd or 1st is true and 
#if condition is apply  to check all condition than give answer. 
if operator == "*":
    print(first * second)
if operator == "/":
    print(first / second)
if operator == "%":
    print(first % second)
else:
    print("invalid operation")

enter first number : 5
enter operator (+,-,*,/,%) : +
enter second number : 5
10

In [ ]:
#Range